.form-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
  align-items: center;
  background-color: blanchedalmond;
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  overflow: auto;
}

.display {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin: 1rem;
  background-color: blanchedalmond;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.display li {
  font-size: medium;

  font-style: italic;
}
.display button {
  position: relative;

  color: rgb(14, 2, 2);
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: rgb(248, 184, 89);
  size: 5rem;
  width: 5rem;
  height: fit-content;
  margin: 0.3rem;
}

.display button:hover,
.display button:active,
.display button.active {
  color: #dee3e9;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid #95bcf0;
  width: 5rem;
}

.control {
  border-radius: 1rem;
}
.control input {
  border-radius: 00.5rem;
  height: 2rem;
  text-align: center;
}

.actions button {
  color: rgb(14, 2, 2);
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: rgb(248, 184, 89);
  size: 5rem;
  width: 5rem;
  height: fit-content;
}

.actions button:hover,
.actions button:active,
.actions button.active {
  color: #dee3e9;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid #95bcf0;
  width: 5rem;
}
